<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <p>Home</p>
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories"><p>Categoria</p></a>
    </li>
  </ul>
</nav>